# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\xampp\htdocs\Sanbercode-Batch-23\Tugas-Harian-Bagian-3\Tugas-15-Adonis-CRUD-API\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
